<div *ngIf="notifications.length === 0" class="p-4 text-center text-gray-500">
  No notifications
</div>
<div *ngFor="let notification of notifications" class="p-4 border-b border-gray-200 hover:bg-gray-100">
  <p class="text-sm text-gray-700">{{ notification.message }}</p>
  <p class="text-xs text-gray-500">{{ notification.createdAt | date:'short' }}</p>
  <ng-container *ngIf="notification.from">
    <a [routerLink]="['/profile', notification.from._id]" class="text-blue-500 hover:underline">
      View {{ notification.from.name }}'s Profile
    </a>
  </ng-container>
</div>
<div *ngIf="errorMessage" class="p-4 text-red-500">
  {{ errorMessage }}
</div>